<!-- <app-topology-controlbar [nodeTypeChangedSubject]="nodeTypeChangedSubject">
</app-topology-controlbar> -->
<div class="configuration-container">
  <div class="field-panel">
    <div class="name">
      Grouping
    </div>
    <div class="value">
      <app-topology-controlbar-group
        [undoConfiguration$]="undoConfiguration$"
        [resetConfiguration$]="resetConfiguration$">
      </app-topology-controlbar-group>
    </div>
    <div class="name">
      Asstitant Displaying
    </div>
    <div class="value">
      <app-topology-controlbar-assistant
        [undoConfiguration$]="undoConfiguration$"
        [resetConfiguration$]="resetConfiguration$">
      </app-topology-controlbar-assistant>
    </div>
  </div>
  <div class="field-undo-button">
    <div class="button-container">
      <button *ngIf="isUndoButtonDisplayed" (click)="onUndoButtonClicked()">
        <span>{{ undoButtonText }}</span>
      </button>
      <button (click)="onResetButtonClicked()">Reset</button>
    </div>
  </div>
</div>
<div class="loading-container">
  <app-topology-path-loading-indicator></app-topology-path-loading-indicator>
</div>
<app-topology>
</app-topology>